<%- include("../partials/head") %>
<%- include("../partials/header") %>

<div class="container text-center">

    <div class="row">

        <!-- Headings -->
        <div class="col">
            <h2 class="textsize-2 mb-3">delete skill</h2>
        </div>

    </div>

    <!-- Delete Skill Form -->
    <form action="/characters/<%= character_id %>/skills/<%= skill._id %>?_method=DELETE" method="POST" class="row justify-content-center">
        <div class="col-8 info-panel p-4 mb-5">

            <div class="row text-center mb-4">

                <!-- Delete Skill Confirmation Message -->
                <p class="textcolor-green">
                    are you sure you want to delete <%= skill.name %>?<br>
                    this will aslo decrease your character level.
                </p>

            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn button-green btn-lg rounded-pill">delete skill</button>

        </div>

    </form>

</div>

<%- include("../partials/footer") %>